# Xcode
.DS_Store
*/build/*
*.pbxuser
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

# prepare.sh operates in libogg* and build.sh creates xcframework
*.log
libogg-*/
*.xcframework
contributions/
tmp
.swiftpm
OggSwiftLocal
